RewriteEngine on

RewriteRule ^home$ ./index.php [NC]

RewriteRule ^login$ ./login.php [NC]

RewriteRule ^dashboard$ ./dashboard.php [NC]

RewriteRule ^sendemail$ ./sendemail.php [NC]

RewriteRule ^listusers$ ./listusers.php [NC]

RewriteRule ^historic$ ./historic.php [NC]
Options -Indexes

<FilesMatch "\.env$">
    Deny from all
</FilesMatch>

<FilesMatch "database_connection.php$">
    Deny from all
</FilesMatch>

<FilesMatch "autoload.php$">
    Deny from all
</FilesMatch>