* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

body {
    background-color: #393646;
}

#logo {
    width: 100%;
    margin: 40px auto 0px;
    text-align: center;
}

#dark-logo {
    width: 400px;
}

#page-title {
    width: 100%;
    text-align: center;
    font-size: 48px;
    font-weight: 300;
    margin: 60px auto 20px;
}

.container {
    overflow: hidden;
    background-color: #F4EEE0;
    width: 800px;
    padding: 40px;
    margin: auto;
    height: 500px;
    border-radius: 4px;
}

.text-area {
    text-align: center;
    width: 100%;
    margin: 0px auto 20px;
}

#text {
    position: relative;
    color: #393646;
    font-size: 32px
}

.input-area {
    width: 100%;
    margin: 150px auto 0px;
    text-align: center;
}

.input {
    width: 80%;
    font-size: 32px;
    padding: 4px;
    text-align: center;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: transparent;
}

.input:focus {
    outline-style: none;
    outline-offset: none;
}

.btn-area {
    width: 100%;
    margin: 40px auto;
    text-align: center;
}

.submit-btn:hover {
    cursor: pointer;
    opacity: .5;
}

.submit-btn {
    width: 400px;
    height: 60px;
    border: none;
    background-color: #393646;
    color: #fff;
    font-size: 28px;
    border-radius: 4px;
}

#second-input-div {
    display: none;
}

#submit-btn {
    display: none;
}

@keyframes email-status-animation {
    0% {
        right: -100%
    }

    50% {
        right: 20px;
        opacity: 100%;
    }

    100% {
        right: 20px;
        opacity: 0;
    }

}

@keyframes changeFormText {
    0% {
        left: 0px;
    }

    49% {
        left: -100%;
    }

    50% {
        right: -100%;
    }

    100% {
        right: 0px;
    }
}

#footer {
    position: fixed;
    bottom: 0px;
    padding: 50px;
    width: 100%;
    text-align: center;
}


@media screen and (max-width: 1200px) {

    .container {
        width: 60%;
    }

    #dark-logo {
        width: 300px;
    }

    .submit-btn {
        width: 50%;
    }


}

@media screen and (max-width: 700px) {
    
    .container {
        width: 80%;
    }

    .input-area {
        width: 100%;
    }

    .input {
        width: 100%;
        font-size: 18px;
    }

    #page-title {
        font-size: 32px;
    }

    .submit-btn {
        font-size: 16px;
    }

}