* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
    color: #F4EEE0;
}

body {
    background-color: #393646;
}

.nav-bar {
    position: relative;
    height: 80px;
    background-color: #F4EEE0;
}

.nav-bar a:hover {
    cursor: pointer;
}

.nav-bar a {
    position: absolute;
    text-decoration: none;
    font-size: 32px;
    color: #000;
    padding: 20px;
    right: 100px;
}

.form {
    width: 100%;
    text-align: center;
    margin: 30px auto 0px;
}

.first-input-area, .second-input-area {
    width: 50%;
    margin: 0px auto 40px;
}

.label {
    margin: 0px auto 20px;
    font-weight: 300;
    font-size: 32px;
    text-align: left;
}

.first-input:focus, .second-input-area {
    outline-offset: none;
    outline-style: none;
}

.first-input {
    width: 100%;
    height: 30px;
    border-radius: 360px;
    background-color: #F4EEE0;
    font-size: 32px;
    padding: 30px;
    border: none;
}

.second-input:focus {
    outline-offset: none;
    outline-style: none;
}

.second-input {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    width: 100%;
    height: 400px;
    resize: none;
    background-color: #F4EEE0;
    font-size: 18px;
    padding: 20px;
    border-radius: 4px;
}

.submit-btn-area {
    width: 100%;
    text-align: center;
    margin: 40px auto 0px;
}

.submit-btn:hover {
    opacity: .5;
    cursor: pointer;
}

.submit-btn {
    font-size: 32px;
    width: 300px;
    height: 80px;
    border-radius: 4px;
    border: none;
    background-color: #C4D7B2;
    color: #fff;
}

.post-area {
    display: none;
    width: 100%;
    margin: 120px auto 0px;
}

.post-area-title {
    width: 50%;
    margin: auto;
    text-align: left;
}

.post-title {
    font-size: 32px;
    font-weight: 300;
}

.email-test {
    width: 50%;
    margin: 30px auto 0px;
    background-color: #fff;
    padding: 40px;
    border-radius: 4px;
    font-family: 'Calibri', sans-serif;
    color: #000
}

.email-title-area {
    text-align: left;
    margin: 20px auto 10px;
}

.email-title {
    font-size: 32px;
    width: 95%;
    margin: 0px auto 0px;
}

.email-test hr {
    background-color: #000 !important;
    padding: .5px;
    opacity: 1;
}

.email-content-area {
    margin: 30px auto 0px;
}

.email-content {
    width: 95%;
    margin: auto;
    font-size: 16px;
}

.confirm-area {
    width: 50%;
    margin: 60px auto 0px;
}

.confirm-area-title {
    text-align: center;
}

.confirm-area-span {
    font-size: 32px;
    font-weight: 300;
}

.confirm-area-btn {
    margin: 40px auto 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.confirm-btn:hover, .deny-btn:hover {
    opacity: .5;
    cursor: pointer;
}

.confirm-btn, .deny-btn {
    border-radius: 4px;
    width: 200px;
    height: 50px;
    font-size: 32px;
    border: none;
}

.confirm-btn {
    color: #fff;
    background-color: #C4D7B2;
}

.deny-btn {
    color: #fff;
    background-color: #FF0000;
}

.modal-area {
    display: none;  
    position: fixed;
    top: 0px;
    color: #fff;
    width: 100%;    
    height: 100000px;
    background-color: rgba(0, 0, 0, .5);
}

.modal {
    padding: 20px;
    position: relative;
    top: 100px;
    margin: auto;
    opacity: 1;
    border-radius: 4px;
    width: 50%;
    height: 800px;
    color: #393646;
    background-color: #F4EEE0;
}

.modal-title-area {
    width: 80%;
    margin: 40px auto 40px;
    text-align: center;
}

.modal-title {
    font-size: 32px;
    font-weight: 300;
}

.email-status-area {
    width: 80%;
    text-align: center;
    margin: 0px auto 0px;
}

.modal-status {
    font-size: 18px;
    font-weight: 300;
}

.modal-image {
    width: 80%;
    margin: 80px auto 0px;
    text-align: center;
}

.close-modal-btn-area {
    width: 100%;
    margin: 80px auto 0px;
    text-align: center;
}

.close-modal-btn {
    cursor: pointer;
}

.close-modal-btn {
    display: none;
    width: 200px;
    height: 80px;
    border: none;
    border-radius: 4px;
    background-color: #393646;
    color: #F4EEE0;
    font-size: 32px;
}